 #ingredients {
   list-style: none;
   margin-left: 20px;
 }

 #gallery {
   display: flex;
   justify-content: space-between;
   list-style: none;
   width: 500px;
 }

 #gallery>li {
   padding: 20px;
 }

 #gallery>li>img {
   max-width: 100%;
   height: auto;
 }

 #counter {
   padding: 20px;
 }

 h1 {
   color: yellowgreen;
   text-transform: uppercase;
 }

 #name-output {
   text-transform: uppercase;
   color: blueviolet;
 }

 input {
   margin: 10px;
 }

 #validation-input.valid {
   outline: 3px solid #4caf50;
 }

 #validation-input.invalid {
   outline: 3px solid #f44336;
 }